
<body class="home">
  <div id="welcomeBox">
    <h1><i>Posi</i>-Live-<i>ity</i></h1>
    <a href="login">Log In</a>
    <a href="register">Register</a>
    <a href="<%= oauth.fitbit.getLoginUrl() %>">Log In Fitbit</a>
  </div>
</body>
