
<div class="home">
  <div id="welcomeBox">
    <h1><i>Posi</i>-Live-<i>ity</i></h1>
    <a href="login">Log In</a>
    <a href="register">Register</a>
    <a href="<%= oauth.fitbit.getLoginUrl() %>">Log In Fitbit</a>
  </div>
</div>
<div class="welcome">
  <div class="about" id="about">
    <div class="col-md-6 aboutText">
    <h1>Welcome to your one-stop-dot for all your emotional and physical wellbeing.</h1>

    <p> posilivity is an online diary, which not only tracks your mental wellbeing but also syncs this to data collected from your fitbit to also log key information such as your weight, heartrate, sleeping patterns and excercise, by combining this data we will help you establish any patterns behind negative thoughts and actions and ways to address these. </p>

    <p>We also have a number of spealisist options for people who are trying to overcome depression, give up smoking and for people trying to control their stress for events such as exams.</p>

    <p> Our premium members will also benefit from flexible on-demand councellors who offer their services through FaceTime, one-to-one meetings or even whatsApp or messenger, whichever is easiest or best for you. </p>
  </div>
</div>


  <div class="advice" id="advice">
    <div class="adviceText">
    <h1> Need advice?</h1>
    <p> You may have started to notice a pattern emerging in your behaviour. If this is so we advise you make an appointment with one of our councellors, who will analyse your data and discuss you emotions and feelings with you before advising you on the best next steps, whether this is talking to your GP or small changes (such as getting a SAD lamp) that might help. Our councellors are availiable 6 days a week between 8am and 7pm, however if you are in desparate need for help the following places will be able to help 24 hours a day 7 days a week.
    <ul>
      <li>The Samiritans</li>
      <li> CALM - for men aged 15-35</li>
      <li> Aniexty </li>
      <li> Depression Alliance</li>
    </ul>
  </p>
</div>
</div>

</div>
