//brand colours
$brand-one: #FFC0CB; //pink
$brand-two: #44D9E6; //blue
$brand-three: #FFCC00; //yellow
$brand-four: #FB5607; //orange
$brand-five: #FF006E; //FUSCHIA

h1, h2, h3,{
font-family: 'Coming Soon', cursive;
}

main {
  margin-top: 102px;
}

header {
  // Fix the header to the top of the page, so that it stays in view when the page is scrolled
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $brand-two;
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          float: right;
          margin-left: 20px;
          line-height: 100px;
          &:last-of-type {
            float: left;
            img{
              height: 80px;
              margin: 10px 0;
            }
          }
          border: 3px dotted transparent;
          &:hover {
            border-color: #30a5af;
          }
          // Styles for the burger icon
          &.menu {
            color: white;
            cursor: pointer;
            font-size: 20px;
            display: none;
          }
          a {
            color: white;
          }
      }
  }
}
}



.home {
  background-image: url('/assets/welcomeBackground.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 100px);
}

.about{
  background-image: url('/assets/about.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 100px);
  color: white;
  .aboutText{
    background-color: rgba(20, 20, 20, 0.6);
    float: right;
    margin-right: 7%;
    margin-top: 8%;
    text-align: center;
  }
}

.advice{
  background-image: url('/assets/telephone.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 100px);
  color: black;
  .adviceText{
    background-color: rgba(20, 20, 20, 0.2);
    padding: 10%;
    text-align: center;
  }

}

#welcomeBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
    a{
      background-color: #C0C0C0;
      border: none;
      border-radius: 2px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 200px;
      margin: 5px 0;
    }
    h1{
      margin: 0 0 20px;
    }
}
//profile page
.profile{
  padding-top: 100px;
  .profileHeading{
    text-align: center;
    a{
      font-family:'Coming Soon', cursive;
      text-decoration: none;
      color: black;
      font-size: 20px;
      vertical-align: middle;
    }
    img{
      width:100px;
      margin-left: 30%;

    }
    .profileHeadingSquare{
      padding:5%;
      height: 275px;
    }
  }
  .suggestedActivity{
    background-color: $brand-one;
  }
  .headingheartRate{
    background-color: $brand-three;
  }
  .headingStepsTaken{
    background-color: $brand-four;
  }
  .profileButton{
    background-color: $brand-five;
    border-radius: 50%;
  }


}

.indexDay {
  width: calc(100% / 7);
  float: left;
  margin-top: 30px;
  padding: 5px;
  .indexDayImg {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-width: 1px;
    border-style: solid;
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      font-size: 22px;
      font-family: 'Coming Soon', cursive;
      opacity: 0;
      transition: 0.3s ease;
    }
  }
}

//Logging a new day page.

#newSummaryFitbitData{
  border: 2px, black, solid;
  display: inline-block;
  .summarySleep{
    background-color: $brand-one;
  }
  .summarySteps{
  background-color: $brand-three
  }
}

#dailyFeeling {
  .emotion {
    box-sizing: border-box;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    padding: 15px;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .emotion {
    background-color: yellow;
  }
  img {
    width: 85px;
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
  }
}

.newDay{
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  margin: 20px;
}

body.logIn{
  background-color: $brand-one;
  .welcomeUser{
    background-color: $brand-two;
    width: 50%;
    height: 50%;
    position: absolute;
    border: black;
    display: inline-block;
    margin: 20%;
    h3{
      text-align: center;
    }
    p{
      text-align: center;
    }
    .loginForm{
      text-align: center;
      margin-top: 3%;
      border-radius: 5%;
      input{
        width: 40%;
      }
    }
    .button{
      background-color: $brand-three;
      padding: 15px 32px;
      text-align: center;
      margin-left: 40%;
      margin-top: 5%;
      font-size: 16px;
      padding: 4%, 5%;
      border: none;
      border-radius: 3%;
    }
  }
}


#websiteSummary {
  .websiteSummaryBox {
    border: 2px, black, solid;

    .registerImage {
      width: 50px;
      height: 50px;

    }
  }
}
